<?xml version="1.0" ?>
<settings version="1">
    <section id="script.service.nfosync">
        <category id="manual" label="32001">
            <group id="1" label="32005">
                <setting id="manual.visible" type="boolean" label="32015" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="manual.clean" type="boolean" label="32002" help="">
                    <level>3</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="manual.refresh" type="boolean" label="32013" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="manual.scan" type="boolean" label="32009" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
            </group>
        </category>
        <category id="on_start" label="32004">
            <group id="2" label="32018">
                <setting id="on_start.enabled" type="boolean" label="32014" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
            </group>
            <group id="7" label="32005">
                <setting id="on_start.visible" type="boolean" label="32015" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="on_start.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="on_start.clean" type="boolean" label="32002" help="">
                    <level>3</level>
                    <default>false</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="on_start.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="on_start.refresh" type="boolean" label="32013" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="on_start.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="on_start.scan" type="boolean" label="32009" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="on_start.enabled">true</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>
        <category id="periodic" label="32016">
            <group id="3" label="32018">
                <setting id="periodic.enabled" type="boolean" label="32014" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
            </group>
            <group id="4" label="32019">
                <setting id="periodic.period" type="integer" label="32017" help="">
                   	<level>0</level>
                    <default>2</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>24</maximum>
                    </constraints>
                    <control type="spinner" format="integer">
		                <heading>32017</heading>
	                </control>
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="periodic.avoid_play" type="boolean" label="32020" help="">
                   	<level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="periodic.wait" type="integer"
                         label="32021" help="32022" parent="periodic.avoidplay">
                   	<level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>300</maximum>
                    </constraints>
	                <control type="edit" format="integer">
		                <heading>32021</heading>
	                </control>
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                        <dependency type="enable" setting="periodic.avoid_play">true</dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="6" label="32005">
                <setting id="periodic.visible" type="boolean" label="32015" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="periodic.clean" type="boolean" label="32002" help="">
                    <level>3</level>
                    <default>false</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="periodic.refresh" type="boolean" label="32013" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="periodic.scan" type="boolean" label="32009" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="periodic.enabled">true</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>
        <category id="auto_export" label="32023" help="">
            <group id="8" label="32018">
                <setting id="auto_export.enabled" type="boolean" label="32026" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
            </group>
            <group id="9" label="32024">
                <setting id="auto_export.create" type="boolean" label="32025" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                    <dependencies>
	                    <dependency type="enable" setting="auto_export.enabled">true</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>
        <category id="state" label="32006" help="">
            <group id="5" label="32006">
                <setting id="state.last_refresh" type="string" label="32007" help="">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32007</heading>
                    </control>
                </setting>
                <setting id="state.refresh_exceptions" type="string" label="32027" help="">
                    <level>4</level>
                    <default>{}</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32027</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>